.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.history > span {
  max-width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.historyHeader {
  margin: 0px;
  padding: 15px 10px;
  background-color: #ff6f61;
  color: white;
}
.historyIcon {
  min-width: 35px !important;
}
.limitCount > span {
  top: -3px !important;
  right: 10px !important;
}
.notificationDeleteIcon{
  position: absolute;
  right: 10px;
  font-size: 30px!important;
  cursor: pointer;
  color: red!important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-dot {
  animation: blink 1s infinite;
}
